$amber-50: #FFFBEB;
$amber-100: #FFEDD5;
$amber-200: #FDE68A;
$amber-300: #FCD34D;
$amber-400: #FBBF24;
$amber-500: #F59E0B;
$amber-600: #D97706;
$amber-700: #B45309;
$amber-800: #92400E;
$amber-900: #78350F;
$amber-950: #451A03;